<!--Section: Comments list-->
<section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

  <!--Main wrapper-->
  <div class="comments-list">
    
    <div id="comments-section">
      <div id="comments">
        <% @post.comments.each do |comment| %>
          <%= simple_format(comment.content) %>
        <% end %>
      </div>
    </div>

  </div>
  <!--/.Main wrapper-->

</section>
<!--/Section: Comments list-->

