<!--Section: Comments list-->
<section class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

  <!--Main wrapper-->
  <div class="comments-list">
    <div class="section-heading">
      <%= link_to 'Comments', "#", id: "comments-link" %> <span class="badge white-text grey-gradient"><%= @post.comments.count %></span>
    </div>
    <div id="comments-section">
      <div id="comments">
        
      </div>
      
    </div>

  </div>
  <!--/.Main wrapper-->

</section>
<!--/Section: Comments list-->

