<div class="container">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="md-form">
      <%= f.text_area :content, class: "md-textarea" %>
    </div>
    <div class="text-center">
      <%= f.button  class: "btn btn-outline-white btn-lg btn-rounded grey-gradient", data: { disable_with: "<i class='fa fa-spinner fa-5x fa-spin'></i> Processing..."} %>
    </div>
  <% end %>
</div>
