<div class="row cover-photo wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
  <div class="col-md-12">

    <!-- Image -->
    <div class="hero-image view z-depth-2">
      <img src="https://mdbootstrap.com/img/Photos/Others/img%20%285%29.jpg" class="img-fluid">
    </div>
  </div>
</div>
<section id="models" class="section without-margin">
  <h1 class="section-heading pt-4 pb-2 white-text wow hinge animated">Conceived Concepts</h1>
  <!--First row-->
  <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
    <!--First column-->
    <div class="col-md-12">
      <div id="mdb-lightbox-ui"></div>
      <!--Full width lightbox-->
      <div class="mdb-lightbox" data-pswp-uid="7">
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(58).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(61).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(61).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(62).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(62).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(60).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(60).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" data-size="1600x1067">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(66).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(70).jpg" data-size="1600x1067">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(70).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(74).jpg" data-size="1600x1067">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(74).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(64).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(64).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(77).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(77).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(78).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(78).jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(76).jpg" data-size="781x1172">
            <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(76).jpg" class="img-fluid">
          </a>
        </figure>
      </div>
      <!--/Full width lightbox-->
    </div>
    <!--/First column-->
  </div>
  <!--First row-->
</section>
