<main>

        <div class="container">

            <!--Section: Author section-->
            <section class="section author-page">

                <!--First row-->
                <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

                    <!--First column-->
                    <div class="col-lg-8 pb-1">

                        <!--Heading-->
                        <h1 class="section-heading h1-responsive wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">Hello!</h1>

                        <!--Section sescription-->
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad autem vel eum iure reprehenderit qui in ea minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    </div>
                    <!--/First column-->

                    <!--Second column-->
                    <div class="col-lg-4 mt-6 mb-5 flex-center">

                        <!--Image-->
                        <span class="web-developer-display-image-dimensions">
                        </span><img src="https://mdbootstrap.com/img/Photos/Others/avatar1.jpg" class="rounded-circle">

                    </div>
                    <!--/Second column-->

                </div>
                <!--/First row-->

            </section>
            <!--Section: Author section-->

        </div>

    </main>
