<div class="container-fluid white-text">

  <!--Main content-->

  <!--First container-->
  <div class="container-fluid pt-4">

    <!--Section: New York-->
    <section id="newyork" class="section">
      <h1 class="section-heading pt-4 pb-2 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">New York 2015</h1>
      <!--First row-->
      <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
        <!--First column-->
        <div class="col-md-12">
          <div id="mdb-lightbox-ui"></div>
          <!--Full width lightbox-->
          <div class="mdb-lightbox" data-pswp-uid="3">
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(2).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%282%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(10).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2810%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(20).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2820%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(31).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2831%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(3).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%283%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(12).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2812%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(34).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2834%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(16).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2816%29.jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(13).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20%2813%29.jpg" class="img-fluid">
              </a>
            </figure>
          </div>
          <!--/Full width lightbox-->
        </div>
        <!--/First column-->
      </div>
      <!--First row-->
    </section>
    <!--/Section: New York-->

    <!--Section: Wedding-->
    <section id="wedding" class="section">
      <h1 class="section-heading pt-4 pb-2 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Wedding</h1>
      <!--First row-->
      <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
        <!--First column-->
        <div class="col-md-12">
          <div id="mdb-lightbox-ui"></div>
          <!--Full width lightbox-->
          <div class="mdb-lightbox" data-pswp-uid="5">
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(129).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(129).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(125).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(125).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(126).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(126).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-3">
              <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(81).jpg" data-size="781x1172">
                <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(81).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-3">
              <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(84).jpg" data-size="781x1172">
                <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(84).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-3">
              <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(82).jpg" data-size="781x1172">
                <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(82).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-3">
              <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(85).jpg" data-size="781x1172">
                <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(85).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(127).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(127).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(131).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(131).jpg" class="img-fluid">
              </a>
            </figure>
            <figure class="col-md-4">
              <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(128).jpg" data-size="1600x1067">
                <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(128).jpg" class="img-fluid">
              </a>
            </figure>
          </div>
          <!--/Full width lightbox-->
        </div>
        <!--/First column-->
      </div>
      <!--First row-->
    </section>
    <!--/Section: Wedding-->
  </div>
  <!--/First container-->
  <!--Second container-->
  <div class="container">
    <!-- Section About -->
    <section class="section mb-3">
      <!-- Section title -->
      <h1 id="about" class="section-heading mt-4 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">About me</h1>
      <!-- First row -->
      <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
        <!-- Text content -->
        <div class="col-md-12 text-center white-text">
          <p class="lead mb-2">Hello, my name is Jacques Henry and I'm a photographer based in New York.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi. Rem magnam ad perferendis iusto sint tempora ea voluptatibus iure, animi excepturi modi aut possimus in hic molestias repellendus illo ullam odit quia velit. Qui expedita sit quo, maxime molestiae.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <!-- /.First row -->
    </section>
    <!-- /.Section About -->
    <hr class="between-sections">
    <!-- Contact -->
    <!--/Section: Contact v.2-->
  </div>
  <!--/Second container-->
  <!--Streak-->
  <div class="streak">
    <div class="flex-center" style="padding: 6px;margin-top: 6px">
      <ul>
        <li>
          <h1 class="h1-responsive black-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;"><i class="fa fa-quote-left" aria-hidden="true"></i>&nbsp;Photograpy isn't just my job it's my passion. <i class="fa fa-quote-right" aria-hidden="true"></i></h1>
        </li>
        <li>
          <h4 class="font-italic black-text wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">~ Jacques Henry</h4>
        </li>
      </ul>
    </div>
  </div>
  <!--/Streak-->
  <!--/Main content-->

</div>
