<div class="container">

  <!--Section: Products v.4-->
  <section class="section">

      <!--Section heading-->
      <h1 class="section-heading">Gallery</h1>
      <!--Section sescription-->
      <p class="section-description text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?</p>


<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view hm-black-light">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" alt="First slide">
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Awesome</h3>
                <p>First text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-strong">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" alt="Second slide">
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Splendid</h3>
                <p>Secondary text</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(24).jpg" alt="Third slide">
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Superb</h3>
                <p>Third text</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

      <br> <br><br>

      <!--First row-->
      <div class="row">

          <!--First column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(5).jpg" class="img-fluid" alt="">
                      <div class="stripe dark">
                          <a>
                              <p>Body Shot <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(7).jpg" class="img-fluid" alt="">
                      <div class="stripe light">
                          <a>
                              <p>Shorts <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(10).jpg" class="img-fluid" alt="">
                      <div class="stripe dark">
                          <a>
                              <p>Dresses <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Third column-->

          <!--Fourth column-->
          <div class="col-lg-3 col-md-6 mb-r">

              <!--Collection card-->
              <div class="card collection-card z-depth-1-half">
                  <!--Card image-->
                  <div class="view  hm-zoom">
                      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(12).jpg" class="img-fluid" alt="">
                      <div class="stripe light">
                          <a>
                              <p>Accessories <i class="fa fa-chevron-right"></i></p>
                          </a>
                      </div>
                  </div>
                  <!--/.Card image-->
              </div>
              <!--/.Collection card-->

          </div>
          <!--/Fourth column-->

      </div>
      <!--/First row-->

  </section>
  <!--/Section: Products v.4-->

  <div class="container-fluid">


            <div class="divider-new wow fadeIn mt-4 mb-5" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <h1 class="h1-responsive">What's new?</h1>
            </div>

            <div class="tiles-mag">

                <!-- Magazine -->
                <div class="row">
                    <!-- Main news -->
                    <div class="col-md-12">

                        <!--Tiles blog-->
                        <div class="tiles-blog">
                            <!--First row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->


                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn; ">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(1).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(25).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/First row-->

                            <!--Second row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(23).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(14).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/Second row-->
                        </div>
                        <!--Tiles blog-->

                    </div>
                    <!--/ Main news -->

                </div>
                <!--/ Magazine -->

            </div>

            <div class="divider-new wow fadeIn mt-4 mb-4" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <h2 class="h2-responsive">Travels</h2>
            </div>

            <div class="tiles-mag">

                <!-- Magazine -->
                <div class="row">
                    <!-- Main news -->
                    <div class="col-md-12">

                        <!--Tiles blog-->
                        <div class="tiles-blog">
                            <!--First row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(11).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(31).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->
                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/First row-->

                            <!--Second row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(32).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(107).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(100).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/Second row-->
                        </div>
                        <!--Tiles blog-->

                    </div>
                    <!--/ Main news -->

                </div>
                <!--/ Magazine -->

            </div>

            <div class="divider-new wow fadeIn mt-4 mb-4" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <h2 class="h2-responsive">Hobby</h2>
            </div>

            <div class="tiles-mag mb-3">

                <!-- Magazine -->
                <div class="row">
                    <!-- Main news -->
                    <div class="col-md-12">

                        <!--Tiles blog-->
                        <div class="tiles-blog">
                            <!--First row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Photography/4-col/img%20(6).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(124).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(4).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/First row-->

                            <!--Second row-->
                            <div class="row">
                                <!--First column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(108).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->

                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/First column-->

                                <!--Second column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(98).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->


                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Second column-->

                                <!--Third column-->
                                <div class="col-md-4 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                    <!--Single blog post-->
                                    <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                                        <!--Blog post link-->
                                        <a href="#!">
                                            <!--Image-->
                                            <div class="tiles-image hm-zoom">

                                                <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(26).jpg" class="img-fluid" alt="">

                                            </div>
                                            <!--/Image-->
                                        </a>
                                        <!--Blog post link-->


                                    </div>
                                    <!--/Single blog post-->
                                </div>
                                <!--/Third column-->
                            </div>
                            <!--/Second row-->
                        </div>
                        <!--Tiles blog-->

                    </div>
                    <!--/ Main news -->

                </div>
                <!--/ Magazine -->

            </div>

        </div>

</div>
