<div class="col-md-10 mx-auto">
  <div class="row cover-photo wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="col-md-12">

      <!-- Image -->
      <div class="hero-image view z-depth-2">
        <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/West+SidePark.jpg" class="img-fluid ga-index">
      </div>
    </div>
  </div> <br> <br>
  <section id="models" class="section without-margin">

  <!--First row-->
  <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
    <!--First column-->
    <div class="col-md-12">
      <div id="mdb-lightbox-ui"></div>
      <!--Full width lightbox-->
      <div class="mdb-lightbox" data-pswp-uid="7">
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Mourning-7127.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Mourning-7224.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/IMG_3056.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="	https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Old+Canada.jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="#" data-size="1600x1067">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/IMG_2299.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="#" data-size="1600x1067">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Pier2.jpg" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-4">
          <a href="#" data-size="1600x1067">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/IMG_3147.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/IMG_3191.JPG
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/IMG_3273.JPG
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Jack.jpg
" class="img-fluid">
          </a>
        </figure>
        <figure class="col-md-3">
          <a href="#" data-size="781x1172">
            <img src="https://s3.amazonaws.com/conceptsphotography/uploads/gallery/images/2/Mourning-6931.jpg
" class="img-fluid">
          </a>
        </figure>
      </div>
      <!--/Full width lightbox-->
    </div>
    <!--/First column-->
  </div>
  <!--First row-->
</section>

<!--First container-->
<div class="container-fluid pt-4">

  <div id="home" class="container-fluid">

    <!--Second row-->
    <div class="row">
      <!--First column-->
      <div class="col-md-12">

        <!--Tiles blog-->
        <div class="tiles-blog">
          <!--First row-->
          <div class="row">
            <!--First column-->
            <% @galleries.each do |gallery| %>
              <% gallery.images.each do |image| %>
                <div class="col-xl-3 col-md-6 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                  <!--Single blog post-->
                  <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                    <!--Blog post link-->
                    <a href="#!">
                      <!--Image-->
                      <div class="tiles-image hm-zoom">
                        <%= link_to image_tag(image.url, class: "img-fluid gallery-img"), gallery_path(gallery) %>
                      </div>
                      <!--/Image-->
                    </a>
                    <!--Blog post link-->

                  </div>
                  <!--/Single blog post-->
                </div>
                <!--/First column-->
              <% end %>
            <% end %>

          </div>
          <!--/First row-->


        </div>
        <!--Tiles blog-->

      </div>
      <!--/First column-->
    </div>
    <!--/Second row-->
  </div>

</div>
<!--/First container-->
</div>
<div class="mx-auto center">
  <%= link_to 'Upload New Image', new_gallery_path, class: "btn btn-rounded btn-outline-white grey-gradient white-text" %>
</div>
