<!--First container-->
<div class="container-fluid pt-4">

  <div id="home" class="container-fluid">

    <!--Second row-->
    <div class="row">
      <!--First column-->
      <div class="col-md-12">

        <!--Tiles blog-->
        <div class="tiles-blog">
          <!--First row-->
          <div class="row">
            <!--First column-->
            <%  @galleries.each do |gallery| %>
              <% gallery.images.each do |image| %>
                <div class="col-xl-3 col-md-6 tiles-margins wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                  <!--Single blog post-->
                  <div class="tiles-blog-post waves-effect waves-light z-depth-1">
                    <!--Blog post link-->
                    <a href="#!">
                      <!--Image-->
                      <div class="tiles-image hm-zoom">
                        <%= link_to image_tag(image.url, class: "img-fluid gallery-img"), gallery_path(gallery) %>
                      </div>
                      <!--/Image-->
                    </a>
                    <!--Blog post link-->

                  </div>
                  <!--/Single blog post-->
                </div>
                <!--/First column-->
              <% end %>
            <% end %>

          </div>
          <!--/First row-->


        </div>
        <!--Tiles blog-->

      </div>
      <!--/First column-->
    </div>
    <!--/Second row-->
  </div>

  <!--Section: Wedding-->
  <section id="wedding" class="section">
    <h1 class="section-heading pt-4 pb-2 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Wedding</h1>
    <!--First row-->
    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
      <!--First column-->
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <!--Full width lightbox-->
        <div class="mdb-lightbox" data-pswp-uid="5">
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(129).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(129).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(125).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(125).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(126).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(126).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(81).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(81).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(84).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(84).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(82).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(82).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(85).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(85).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(127).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(127).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(131).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(131).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(128).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(128).jpg" class="img-fluid">
            </a>
          </figure>
        </div>
        <!--/Full width lightbox-->
      </div>
      <!--/First column-->
    </div>
    <!--First row-->
  </section>
  <!--/Section: Wedding-->


</div>
<!--/First container-->

<div class="mx-auto">
  <i class="fa fa-camera-retro" aria-hidden="true"></i>
  <%= link_to 'Upload New Image', new_gallery_path, class: "white-text" %>
</div>
