<!--First container-->
<div class="container-fluid pt-4">

  <!--Section: Wedding-->
  <section id="wedding" class="section">
    <h1 class="section-heading pt-4 pb-2 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Wedding</h1>
    <!--First row-->
    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
      <!--First column-->
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <!--Full width lightbox-->
        <div class="mdb-lightbox" data-pswp-uid="5">
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(129).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(129).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(125).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(125).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(126).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(126).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(81).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(81).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(84).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(84).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(82).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(82).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-3">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(85).jpg" data-size="781x1172">
              <img src="http://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(85).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(127).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(127).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(131).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(131).jpg" class="img-fluid">
            </a>
          </figure>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(128).jpg" data-size="1600x1067">
              <img src="http://mdbootstrap.com/img/Photos/Horizontal/People/4-col/img%20(128).jpg" class="img-fluid">
            </a>
          </figure>
        </div>
        <!--/Full width lightbox-->
      </div>
      <!--/First column-->
    </div>
    <!--First row-->
  </section>
  <!--/Section: Wedding-->


  <!--/Section: Festival People-->
  <!--Section: Models-->
  <section id="models" class="section without-margin">
    <h1 class="section-heading pt-4 pb-2 white-text wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">Models</h1>
    <!--First row-->
    <div class="row wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
      <!--First column-->
      <div class="col-md-12">
        <div id="mdb-lightbox-ui"></div>
        <!--Full width lightbox-->
        <% @galleries.each do |gallery| %>
          <% gallery.images.each_with_index do |image, index| %>
            <div class="mdb-lightbox" data-pswp-uid="7">
              <figure class="col-md-3">
                <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(58).jpg" data-size="781x1172">
                  <%= image_tag(image.url) %>
                </a>
              </figure>
            <% end %>
          <% end %>

          <% Gallery.first(3).each do |gallery|  %>
          <figure class="col-md-4">
            <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(66).jpg" data-size="1600x1067">
              <%#= image_tag gallery.image_url, class: "img-fluid" if gallery.image? %>
            </a>
          </figure>
          <% end %>
          <% Gallery.last(4).each do |gallery|  %>
            <figure class="col-md-3">
              <a href="http://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(64).jpg" data-size="781x1172">
                <%#= image_tag gallery.image_url, class: "img-fluid" if gallery.image? %>
              </a>
            </figure>
          <% end %>
        </div>
        <!--/Full width lightbox-->
      </div>
      <!--/First column-->
    </div>
    <!--First row-->
  </section>
  <!--/Section: Models-->
</div>
<!--/First container-->

<div class="mx-auto">
  <i class="fa fa-camera-retro" aria-hidden="true"></i>
  <%= link_to 'Upload New Image', new_gallery_path, class: "white-text" %>
</div>
