.navbar-brand {
  font-size: 1.4em !important;

}

.fa-bars {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: x-large !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.3 !important;
}

.side-nav .logo-wrapper img {
    padding: 0px !important;
}

.page-footer {
    // background-image: url("https://github.com/coneivedconcepts/screenshots/blob/master/logo%20gRadient.jpg?raw=true") !important;
    width: 100% !important;
    height: 200px;
    background-size: 100% 60vh !important;
    background-repeat: no-repeat !important;
}

.card {
  // background-image: url("https://github.com/coneivedconcepts/screenshots/blob/master/logo%20gRadient.jpg?raw=true") !important;
  // background-size: 100% 70vh !important;
  // background-repeat: no-repeat !important;
  .form-control {
    border-bottom-color: #fff;
  }
  .form-control:active {
    border-bottom-color: red;
  }
}
.gallery-img {
  height: 15vh;
}

.sm-pic {
  width: 25px !important;
  border-radius: 20px !important;

}

.center {
  text-align: center !important;
}

.p-top {
  margin-top: 30px !important;
}

.psh-btm {
  margin-bottom: 60px !important;
}

  .footer-streak {
  // bottom: 0 !important;
  // position: absolute;
  // // bottom: 0;
  margin-top: 150px !important;
}

.gallery-img {
  width: 100% !important;
  height: 383px !important;
}

.main-imgs {
  width: 100% !important;
  height: 244px !important;
}

.gallery-show {
  width: 100% !important;
  height: 490px !important;
}

.gallery-index {
  width: 100% !important;
  height: 490px !important;
}

.tiles-margins {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.img-fluid {
  width: 100% !important;
}

.ga-index {
  height: 650px !important;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-instagram:hover {
  color: rgb(248, 50, 88);
}

.fa-pinterest:hover {
  color: #CB2026;
}

.fa-twitter:hover {
  color: #00ACED;
}

.grey-text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

// Pagination ======================================

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination span,
.digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.digg_pagination a:hover,
.digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child+html .digg_pagination {
  overflow: hidden;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}

.card-cascade.narrower {
  margin-top: 20px;
}

.card-cascade {
  display: inline-block;
}

.card {
  border: 0;
}

#comments-section {
  display: none;
}