.navbar-brand {
  // font-family: 'Lobster', cursive;
  font-size: 1.4em !important;

}

.nav-fonts{
  // font-family: 'Lobster', cursive !important;
}

.fa-bars {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: x-large !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.3 !important;
}

.side-nav .logo-wrapper img {
    padding: 0px !important;
}

.page-footer {
    // background-image: url("https://github.com/coneivedconcepts/screenshots/blob/master/logo%20gRadient.jpg?raw=true") !important;
    width: 100% !important;
    height: 200px;
    background-size: 100% 60vh !important;
    background-repeat: no-repeat !important;
}

.card {
  // background-image: url("https://github.com/coneivedconcepts/screenshots/blob/master/logo%20gRadient.jpg?raw=true") !important;
  // background-size: 100% 70vh !important;
  // background-repeat: no-repeat !important;
  .form-control {
    border-bottom-color: #fff;
  }
  .form-control:active {
    border-bottom-color: red;
  }
}
.gallery-img {
  height: 15vh;
}

.sm-pic {
  width: 25px !important;
  border-radius: 20px !important;

}

.center {
  text-align: center !important;
}

.p-top {
  margin-top: 30px !important;
}


.psh-btm {
  margin-bottom: 60px !important;
}

  .footer-streak {
  // bottom: 0 !important;
  // position: absolute;
  // // bottom: 0;
  margin-top: 150px !important;
}

.gallery-img {
  width: 100% !important;
  height: 383px !important;
}

.main-imgs {
  width: 100% !important;
  height: 244px !important;
}

.gallery-show {
  width: 100% !important;
  height: 490px !important;
}

.gallery-index {
  width: 100% !important;
  height: 490px !important;
}

.tiles-margins {
  padding-left: 2px !important;
  padding-right: 2px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.img-fluid {
  width: 100% !important;
}

.ga-index {
  height: 650px !important;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-instagram:hover {
  color: rgb(248, 50, 88);
}

.fa-pinterest:hover {
  color: #CB2026;
}

.fa-twitter:hover {
  color: #00ACED;
}

.grey-text-gradient {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}