.navbar-brand {
  font-size: 1.4em !important;
}

.fa-bars {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: x-large !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.3 !important;
}

.side-nav .logo-wrapper img {
  padding: 0px !important;
}

.page-footer {
  width: 100% !important;
  height: 50vh;
  background-size: 100% 60vh !important;
  background-repeat: no-repeat !important;
}

.card .form-control {
  border-bottom-color: #fff;
}

.card .form-control:active {
  border-bottom-color: red;
}

.gallery-img {
  height: 15vh;
}

.sm-pic {
  width: 25px !important;
  border-radius: 20px !important;
}

.center {
  text-align: center !important;
}

.p-top {
  margin-top: 30px !important;
}
