<footer class="page-footer grey-gradient center-on-small-only">
        <!-- Footer Links -->
        <div class="container-fluid">

          <div class="row">

                <!--First column-->
                <div class="col-xl-4 col-lg-4 mt-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <!--About-->
                    <h5 class="title">Conceived Concepts Photography</h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <!--/About -->
                </div>
                <!--/First column-->

                <hr class="w-100 hidden-lg-up wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                <!--Second column-->
                <div class="col-xl-4 col-lg-4 text-center mt-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                    <!--Contact-->
                    <h5 class="title">Contact info</h5>

                    <p>New York, NY 10012<br>
                    United States<br>
                    + 01 234 567 89<br>
                    info@gmail.com</p>
                    <!-- Contact -->

                </div>
                <!--/Second column-->

                <hr class="w-100 hidden-lg-up wow fadeIn animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                <!--Third column-->
                <div class="col-xl-4 col-lg-4 mt-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                    <!--Instagram-->
                    <section class="sidebar-imgs wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

                        <!--First row-->
                        <div class="row">
                            <!--First column-->
                            <div class="col-md-12">

                                <!--Instagram Photos-->
                                <ul class="instagram-photos">
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions">

                                            </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(5).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions"> </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos//instagram/img%20(3).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions"> </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(1).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>

                                    <div class="hidden-xs-down no-height"><br></div>

                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions"> </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(8).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions"> </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(2).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="view overlay hm-white-slight">
                                            <span class="web-developer-display-image-dimensions"> </span><img class="img-fluid" src="https://mdbootstrap.com/img/Photos/instagram/img%20(7).jpg" alt="Instagram photo cap">
                                            <a href="#!">
                                                <div class="mask"></div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                <!--/Instagram photos -->

                           </div>
                           <!--/First column-->
                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Instagram-->

                </div>
                <!--/Third column-->

            </div>

        </div>
        <!--/ Footer Links -->
        <hr class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">

        <!-- Social buttons -->
        <div class="social-section wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <ul>
                <li><a class="btn-floating btn-small btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn-floating btn-small btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="btn-floating btn-small btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn-floating btn-small btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"> </i></a></li>
                <li><a class="btn-floating btn-small btn-li waves-effect waves-light"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn-floating btn-small btn-pin waves-effect waves-light"><i class="fa fa-pinterest"> </i></a></li>
                <li><a class="btn-floating btn-small btn-ins waves-effect waves-light"><i class="fa fa-instagram"> </i></a></li>
            </ul>
        </div>
        <!--/ Social buttons -->
        <hr class="wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <br>
        <!-- Copyright -->
        <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
            <div class="container-fluid">
                © 2015 - 2017 Copyright: <a href="http://www.conceivedconceptsphotography.com"> conceivedconceptsphotography.com </a>
            </div>
        </div>
        <!--/ Copyright -->

    </footer>
