<footer id="footer" class="page-footer center-on-small-only ">
    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row wow fadeIn no-display appear" data-wow-delay="0.2s">
          <!--/.Second column-->
          <hr class="hidden-md-up">
          <!--Fourth column-->
          <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1s">
              <p class="column-title white-text text-center"><i class="fa fa-camera-retro"></i> View gallery</p>
              <div class="view overlay hm-white-slight z-depth-2">
                  <img src="" class="img-fluid" id="footer-img">
                  <a href="/pages/gallery">
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
          </div>
          <!--/.Fourth column-->

          <hr class="hidden-md-up">
          <!--Third column-->
          <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.2s">
              <p class="column-title white-text text-center"><i class="fa fa-handshake-o"></i> Join Us</p>
              <div class="view overlay hm-white-slight z-depth-2">
                  <img src="">
                  <a href="/users/sign_up">
                      <div class="mask waves-effect waves-light"></div>
                  </a>
              </div>
          </div>
          <!--/.Third column-->

            <hr class="hidden-md-up">
            <!--Second column-->
            <div class="col-md-3 mb-1 wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.4s">
              <p class="column-title white-text text-center"><i class="fa fa-map-marker" aria-hidden="true"></i> Visit Us</p>

            </div>

            <!--First column-->
            <div class="col-md-3 mb-1 text-center wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s">
              <p class="column-title white-text text-center"><i class="fa fa-phone"></i> Call Us</p>
              <p>Phone: 954-305-5001</p>
              <p>Fax: 954-391-9736</p>
              <p>Mon - Fri, 8:00am 5:00pm</p>
            </div>
            <!--/.First column-->

        </div>

    </div>
    <!--/.Footer Links-->
    <hr>
    <!--Call to action-->
    <div class="call-to-action wow fadeInRightBig" data-wow-offset="10" data-wow-delay="1.3s">
      <ul>
        <li>
          <h5>Sign up for free</h5>
        </li>
        <li><a href="/users/sign_up" class="btn btn-lg grey-gradient" >Sign up!</a></li>
        <li class="fb-like" data-href="https://generationsrs.com/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></li>
      </ul>
        <a href="/pages/privacy" class="waves-effect text-center">Terms Of Service</a>
    </div>
    <!--/.Call to action-->
    <hr>
    <!--Social buttons-->
    <div class="social-section no-display appear">
        <ul>
          <li>
              <!--Facebook-->
            <a type="button" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
          </li>

            <li>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-large btn-tw"><i class="fa fa-twitter"></i></a>
            </li>

            <li>
              <!--Instagram-->
              <a type="button" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a>
            </li>

            <li>
              <!--Google +-->
              <a type="button" class="btn-floating btn-large btn-gplus"><i class="fa fa-google-plus"></i></a>
            </li>
            <li>
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
    <!--/.Social buttons-->

    <!--Copyright-->
    <div class="footer-copyright wow fadeIn no-display appear" data-wow-delay="0.2s">
        <div class="container-fluid">
            ©
            2017 Copyright: <a href="https://conceivedconceptsphotography.com"> ConceivedConceptsPhotography.com </a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
