<footer class="page-footer grey-gradient center-on-small-only mt-5">
    <!--Footer Links-->
    <div class="container mb-2">
        <!--First row-->
        <div class="row">
            <!--First column-->
            <div class="col-md-12 mt-1 mb-1 wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                <div class="footer-socials mt-1 flex-center">
                    <!--Facebook-->
                    <a href="#" class="btn-floating btn-large grey-gradient btn-outline-white waves-effect waves-light"><i class="fa fa-facebook"></i></a>
                    <!--Twitter-->
                    <a href="#" class="btn-floating btn-large grey-gradient btn-outline-white waves-effect waves-light"><i class="fa fa-instagram"></i></a>
                    <!--Google +-->
                    <a href="#" class="btn-floating btn-large grey-gradient btn-outline-white waves-effect waves-light"><i class="fa fa-pinterest"></i></a>
                    <!--Youtube-->
                    <a href="#" class="btn-floating btn-large grey-gradient btn-outline-white waves-effect waves-light"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->
    <!--Copyright-->
    <div class="footer-copyright wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.conceivedconceptsphotography.com"> conceivedconceptsphotography.com </a>
        </div>
    </div>
    <!--/Copyright-->
</footer>