    <!-- Double navigation -->
    <header>
        <!-- Sidebar navigation -->
        <!-- <ul id="slide-out" class="side-nav fixed custom-scrollbar sn-bg-2"> -->
          <ul id="slide-out" class="side-nav sn-bg-1 custom-scrollbar">

            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light">
                    <a href="/" class="img-fluid"><img src="https://github.com/coneivedconcepts/screenshots/blob/master/logo%20gRadient.jpg?raw=true" alt="logo" class="img-fluid"></a>
                </div>
            </li>
            <!--/ Logo -->

            <!--Search form-->
            <li>
                <form class="search-form " role="search">
                    <div class="form-group waves-light waves-effect waves-light">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li>
            <!--/Search form-->

            <!-- Side navigation links -->
            <ul class="collapsible collapsible-accordion">
              <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-book"></i> Blog<i class="fa fa-angle-down rotate-icon"></i></a>
                  <div class="collapsible-body">
                      <ul>
                          <li>
                            <a href="/posts" class="waves-effect">Blog</a>
                          </li>
                      </ul>
                  </div>
              </li>

              <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-camera-retro"></i> Gallery<i class="fa fa-angle-down rotate-icon"></i></a>
                  <div class="collapsible-body">
                      <ul>
                          <li>
                            <a href="/galleries" class="waves-effect">Gallery</a>
                          </li>
                          <% if current_user && current_user.admin? %>
                            <li>
                              <a href="/galleries/new" class="waves-effect">Upload Pics</a>
                            </li>
                          <% end %>
                      </ul>
                  </div>
              </li>

                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-envelope"></i> Contact<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="!#" class="waves-effect">Contact Me</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-id-card"></i> About<i class="fa fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/pages/about_me" class="waves-effect">About Me</a>
                            </li>
                            <li><a href="/pages/about_web" class="waves-effect">About Website</a>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--/ Side navigation links -->

            <div class="sidenav-bg grey-gradient mask-strong"></div>

        </ul>
        <!--/ Sidebar navigation -->

        <!-- Navbar -->
        <nav class="navbar fixed-top grey-gradient scrolling-navbar double-nav">

            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars" ></i></a>
            </div>

            <!-- Breadcrumb -->
            <!-- Breadcrumb-->
            <div class="breadcrumb-dn mr-auto">
                <ol class="breadcrumb header-breadcrumb">
                    <li><a href="/" class="navbar-brand">Conceived Concepts Photography</a></li>
                </ol>
            </div>

            <ul class="nav navbar-nav nav-flex-icons ml-auto">

              <li class="nav-item">
                  <a href="/posts" class="nav-link wow fadeInRightBig"><i class="fa fa-book"></i> <span class="hidden-sm-down nav-fonts">Blog</span></a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                  <a href="/galleries" class="nav-link wow fadeInRightBig"><i class="fa fa-camera-retro"></i> <span class="hidden-sm-down nav-fonts">Gallery</span></a>
              </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link wow fadeInRightBig" data-toggle="modal" data-target="#modal-contact"><i class="fa fa-envelope"></i> <span class="hidden-sm-down nav-fonts">Contact</span></a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a href="/pages/about_me" class="nav-link wow fadeInRightBig"><i class="fa fa-id-card" ></i> <span class="hidden-sm-down nav-fonts">About</span></a>
                </li>&nbsp;&nbsp;
              <% if user_signed_in? %>
                <li class="nav-item">
                  <a href="/users/edit" class="nav-link wow fadeInRightBig">
                    <% if current_user.image?  %>
                      <%= image_tag current_user.image.url, class: "sm-pic" %>
                    <% else %>
                      <i class="fa fa-user"></i>
                    <% end %>
                    <span class="hidden-sm-down nav-fonts"><%= current_user.first_name.capitalize %></span>
                  </a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                  <a class="nav-link wow fadeInRightBig" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out faa-tada animated-hover"></i> <span class="hidden-sm-down nav-fonts">Sign Out</span></a>
                </li>
            <% else %>
              <li class="nav-item">
                <a href="/users/sign_up" class="nav-link wow fadeInRightBig" >
                  <i class="fa fa-user-plus faa-tada animated-hover"></i> <span class="hidden-sm-down nav-fonts">Sign Up</span>
                </a>
              </li>&nbsp;&nbsp;
              <li class="nav-item">
                <a href="/users/sign_in" class="nav-link wow zoomIn"><i class="fa fa-sign-in faa-tada animated-hover"></i> <span class="hidden-sm-down nav-fonts">Sign In</span>
                </a>
              </li>
            <% end %>
            </ul>

        </nav>
        <!--/ Navbar -->

        <!-- Modal Contact -->
        <div class="modal fade modal-ext" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="h4-responsive text-center mx-auto" id="myModalLabel">Write to us</h4>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <p class="text-center">We'll contact you shortly.</p>
                        <br>
                        <div class="md-form">
                            <i class="fa fa-user prefix grey-text"></i>
                            <input type="text" id="form22" class="form-control">
                            <label for="form42">Your name</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Your email</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-tag prefix grey-text"></i>
                            <input type="text" id="form32" class="form-control">
                            <label for="form34">Subject</label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-pencil prefix grey-text"></i>
                            <textarea type="text" id="form8" class="md-textarea"></textarea>
                            <label for="form8">Icon Prefix</label>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-rounded btn-outline-white btn-block btn-lg grey-gradient">Submit</button>

                            <div class="call">
                                <p>Or would you prefer to call? <span class="cf-phone"><i class="fa fa-phone grey-text"></i>+01 234 565 280</span></p>
                            </div>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded red-gradient" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--/ Modal contact -->

    </header>
    <!--/ Double navigation -->
